:root{
    --main-green: #96fad5;
    --main-white: #ffffff;
    --main-black: #11202b;
    --main-yellow: #ffefb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-green);
    color: var(--main-black);
}

/* header styles */

header {
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-family: 'comic sans ms', cursive, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color: var(--main-black);
}

/* card styles */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 180px);
    gap: 1rem;
    justify-content: center;
}

.card {
    transition: transform 0.15s;
    perspective: 1000px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 150px;
    height: 180px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, 
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--main-white);
    border: 4px solid var(--main-black);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(19, 29, 36, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front img, 
.card-back img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.card-back {
    transform: rotateY(180deg);
}

.card.matched.flipped .card-inner {
  transform: rotateY(180deg) scale(0.9);
  transition: transform 0.3s ease;
}

.card-front,
.card-back {
  transition: background-color 0.2s ease;
}

.card.matched .card-front,
.card.matched .card-back {
  background-color: var(--main-yellow);
}

/* play again button styles */

#play-again {
    margin: 2rem auto;
    display: block;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'comic sans ms', cursive, sans-serif;
    background-color: var(--main-black);
    color: var(--main-white);
    border: 4px solid var(--main-black);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

#play-again:hover {
    transform: scale(1.05);
    background-color: var(--main-white);
    color: var(--main-black);
}